MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=tarea4_selenium
MYSQL_USER=root
MYSQL_PASSWORD=coloca_tu_contrasena
FLASK_SECRET_KEY=coloca_una_clave_segura

TEST_LOGIN_USER=selenium_user
TEST_LOGIN_PASSWORD=coloca_un_valor_local_no_publicado
